<html>
    <head></head>

    <body>

        <h1>Trips</h1>

        <form action="/trips" method='POST'>
            <label><b>Destination:</b></label>
            <input type="text" name="cityName" id="cityName"/><br><br>
            <label><b>Departure date:</b></label>
            <input type="text" name="dateDeparture" id="dateDeparture"/><br><br>
            <label><b>Return date:</b></label>            
            <input type="text" name="dateReturn" id="dateReturn"/><br><br>
            <button type="submit">Save</button>
        </form>

        <ul>
            {{#trips}}
            <li>
       <b>Destination:</b> {{name}} - <b>Departure date:</b> {{dateDeparture}} - <b>Return date:</b> {{dateReturn}}
            </li>
            {{/trips}}
            

        </ul>

    </body>

</html>