<html>
    <head></head>

    <body>

        <h1>Register</h1>

        <form method="POST" action='/register'>
            <input type="text" placeholder="Username" name="username" />
            <input type="password" placeholder="Password" name="password" />
            <button>Register</button>
        </form>

    </body>

</html>