<html>
    <head></head>

    <body>

        <h1>Trips</h1>

        <form action="/trips" method='POST'>
            <label><b>Destination:</b></label>
            <input type="text" name="cityName" id="cityName" required/><br><br>
            <label><b>Departure date:</b></label>
            <input type="text" name="dateDeparture" id="dateDeparture" required/><br><br>
            <label><b>Return date:</b></label>            
            <input type="text" name="dateReturn" id="dateReturn" required/><br><br>
            <button type="submit">Save</button>
        </form>

        <ul>
            
            {{#trips}}
                <form method="POST" action="/delete">
                    <li>
                        <b>Destination:</b> {{name}} - <b>Departure date:</b> {{dateDeparture}} - <b>Return date:</b> {{dateReturn}} 
                        <input type="hidden" value={{tripId}} name="tripId" />
                        <button name="deleteButton" type="submit" >Delete</button>

                    </li>
                </form>
            {{/trips}}

        </ul>

    </body>

</html>